version: "3.9"

services:
  web:
    build: .
    ports:
      - "8001:8000"
    volumes:
      - .:/code # Mount local folder, live edits reflected
    command: uvicorn app:app --reload --host 0.0.0.0 --port 8000
